<div *ngIf="country" class="auto-overflow">
  <h2>{{country | translateCountryName:languageService.language | capitalize}} ({{country.population}})</h2>
  <div class="col-6">
    <div><span>id: </span>{{country.alpha2Code}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="country.name" placeholder="name" />
      </label></div>
    <div>
      <label>population:
        <input [(ngModel)]="country.population" placeholder="population" />
      </label>
    </div>
    <div><span>translations: </span>
      <ul>
        <li>
          <span>it: </span>{{country.translations.it}}
        </li>
        <li>
          <span>ja: </span>{{country.translations.ja}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-6">
    <img src="{{country.flag}}" />
  </div>
</div>

<button (click)="goBack()">go back</button>
