<div *ngIf="country" class="auto-overflow">
  <h2>{{country | translateCountryName:languageService.language | capitalize}} ({{country.population}})
    <fa [name]="'star'"
        [spin]="countryService.isFavourite(country)"
        (click)="countryService.toggleFavourite(country)"></fa></h2>
  <div class="col-6">
    <div><span>id: </span>{{country.alpha2Code}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="country.name" placeholder="name" />
      </label></div>
    <div>
      <label>population:
        <input [(ngModel)]="country.population" placeholder="population" />
      </label>
    </div>
    <div><span>translations: </span>
      <ul>
        <li *ngFor="let key of country.translations | keys">
          <span>{{key}}: </span>
            <input [(ngModel)]="country.translations[key]" placeholder="Translation" />
        </li>
      </ul>
    </div>
  </div>
  <div class="col-6">
    <img src="{{country.flag}}" />
  </div>
</div>

<button (click)="goBack()">go back</button>
